.ingredient {
    line-height: 30px;
    font-size: 24px;
}

.del-ingred-btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-right: 5px;
    color: #C95652;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}

.del-ingred-btn:hover {
    color: #F56D68;
}