#egg-img {
    /* float: left; */
    margin-left: 20%;
    margin-top: 0px;
    /* height: 100px; */
}

#detailed-instructions {
    /* float: right; */
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

#more-info {
    font-size: 15px;
}

a {
    font-weight: 600;
}