.container {
    height: 380px;
    font-weight: 600;
    font-size: 20px;
    display: flex;
}

.col {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    overflow: scroll;
    flex: 50%; 
    width: 50%;
}

.left-col {
    margin-left: 30px;
    line-height: 150%;
}

.right-col {
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 30px;
}

.video {
    padding-bottom: 10px;
    display: inline-flex;
}

.info-btn {
    position: relative;
    vertical-align: middle;
    color: white;
    font-size: 22px;
    font-weight: 700;
    background: #A3D5E4;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid transparent;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}

.info-btn:hover {
    background: #bbe1ec;
}

.ingredients-note {
    height: 270px;
    overflow: scroll;
    background: #FFEDC5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: pre-line;
}

#ingredients {
    margin: 20px;
    font-size: 15px;
}