.container {
    /* padding: 30px; */
    height: 380px;
    font-weight: 600;
    font-size: 20px;
    /* align-items: center; */
    display: flex;
    /* flex-direction: column; toggling this creates column */
    /* justify-content: left; */
}

.col {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    overflow: scroll;
    flex: 50%; 
    width: 50%;
}

.left-col {
    margin-left: 30px;
    line-height: 150%;
}

.right-col {
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 30px;
}

.video {
    padding-bottom: 10px;
    display: inline-flex;
}

.button {
    position: relative;
    vertical-align: middle;
    /* display: block; */
    /* margin: 0 auto; */
}

.ingredients-note {
    height: 270px;
    overflow: scroll;
    background: #FFEDC5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ingredients {
    margin: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* padding: 10px; */
    font-size: 24px;
}