.search {
    display: flex;
}

.list {
    /* stripes! */
    background: repeating-linear-gradient(
        0deg,
        #A3D5E4,
        #A3D5E4 3px,
        #F5F5F5 3px,
        #F5F5F5 33px
    );
    background-size: 100%;
    min-height: 300px;
    width: 100%;
    max-height: 300px;
    overflow: scroll;
}

.right-col {
    font-size: 25px;
    font-weight: 600;
}

#instructions { 
    text-align: center;
    color: #515151;
}
